/* TTLakes */
@font-face {
    font-family: "TTLakes";
    src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "TTLakes";
    src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TTLakes";
    src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* TTLakes */

:root {
    --swiper-theme-color: #B5B6BC;
}


body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    font-family: "TTLakes", sans-serif;
}

.brand-showcase {}

.swiper__header {
    background-color: #FCFCFC;
    margin-bottom: 16px;
}

.swiper__info {
    font-family: "TTLakes", sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    margin: 0;
    padding: 16px 24px;
    color: #7E7E82;
    text-transform: uppercase;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.swiper-slide__content{
    background: #FFFFFF;
    display: flex;
    width: 240px;
    height: 72px;
    border-radius: 10px;
    border: 1px solid #EAEAEA;

    box-sizing: border-box;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: center;

}

.swiper-slide__image{
    width: auto;
}

.swiper-slide__image img {
    display: block;
    max-height: 50px;
    max-width: 130px;
    object-fit: cover;
}

.swiper-slide svg{
    min-width: 40px;
    min-height: 40px;
}

.swiper-pagination {
    position: static;
}

.hided {
    display: none;
}


.swiper-brands {
    display: flex;
}

.swiper-wrapper{  
    flex-wrap: wrap;
}

.swiper-container {
    padding: 0 24px;
}

.swiper-pagination {
    margin: 4px 0px;
}

.swiper__show-more-button {
    font-family: "TTLakes", sans-serif;
    font-weight: 400;
    margin: 16px 0;
    border: none;
    background-color: #FFFFFF00;
    align-items: center;
    display: flex;
    padding: 4px;
}

.swiper__show-more-button::before{
    content: "";
    display: block;
    background: url(../img/Buttons/ExpandText.svg);
    width: 20px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    bottom: 3px;
}

@media screen and (max-width: 768px) {
    .swiper-brands {
        display: block;
    }

    .swiper__show-more-button {
        display: none;
    }

    .swiper-brands::before{
        content: "";
        position: absolute;
        height: 72px;
        width: 30px;
        background-image: linear-gradient(to right, #f8f8f8, #F8F8F800);
        left: 0;
        top: 0;
        z-index: 2;
    }

    .swiper-brands::after{
        content: "";
        position: absolute;
        height: 72px;
        width: 30px;
        background-image: linear-gradient(to left, #f8f8f8, #F8F8F800);
        right: 0;
        top: 0;
        z-index: 2;
    }

    .swiper-container {
        padding: 0 16px;
    }

    .swiper-wrapper{  
        flex-wrap: nowrap;
    }
}