/* TTLakes */
@font-face {
    font-family: "TTLakes";
    src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "TTLakes";
    src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TTLakes";
    src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* TTLakes */

:root {
    --swiper-theme-color: #B5B6BC;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    font-family: "TTLakes", sans-serif;
}

.swiper__header {
    background-color: #FCFCFC;
    margin-bottom: 16px;
}

.swiper__info {
    font-family: "TTLakes", sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    margin: 0;
    padding: 16px 24px;
    color: #7E7E82;
    text-transform: uppercase;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

    transform-origin: top center;
    transition: transform 0.5s;
    transform: scale(1);
}

.swiper-slide:hover {
    transform: scale(1.05);
}

.swiper-slide__content {
    background: #FFFFFF;
    display: flex;
    width: 240px;
    height: 72px;
    border-radius: 10px;
    border: 1px solid #EAEAEA;

    box-sizing: border-box;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: center;

}

.swiper-slide__image {
    width: auto;
}

.swiper-slide__image img {
    display: block;
    max-height: 50px;
    max-width: 130px;
    object-fit: cover;
}

.swiper-slide__site-link {
    height: 40px;
    border: none;
    background: none;
    transition: all 0.33s ease-in-out;
}

.swiper-slide__site-link svg {
    min-width: 40px;
    min-height: 40px;
    transition: all 0.33s ease-in-out;
    transform: scale(1.0);
}

.swiper-slide__site-link:hover svg {
    transform: scale(1.1);
}

.swiper-pagination {
    position: static;
}

.hidden {
    display: none;
}


.swiper-brands {
    display: flex;
    flex-direction: column;
    width: 1056px;
}

.swiper-wrapper {
    flex-wrap: wrap;
    gap: 16px 32px;
}

.swiper-container {
    padding: 0 24px;
    justify-content: center;
}

.swiper-pagination {
    margin: 4px 0px;
}

.swiper__show-more-button {
    font-family: "TTLakes", sans-serif;
    font-weight: 400;
    margin: 16px 0;
    border: none;
    background-color: #FFFFFF00;
    align-items: center;
    display: flex;
    padding: 4px;
    align-self: flex-start;
    padding-right: 10px;
    margin-left: 5px;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 0.1s ease-out;
}

.swiper__show-more-button:active {
    transform: scale(0.95);
}

.swiper__show-more-button:focus {
    outline: solid 2px #B8FFEC;
    background-color: #FFFFFF;
}

.swiper__show-more-button:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.swiper__show-more-button::before {
    content: "";
    display: block;
    background: url(../img/Buttons/ExpandText.svg) no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    bottom: 3px;
    left: 0px;
}

.swiper__show-more-button--active::before{
    bottom: -2px;
    left: 4px;
    transform: rotate(180deg);
}

@media screen and (max-width: 1110px) {
    .swiper-brands {
        width: 720px;
    }

    .swiper-wrapper {
        gap: 16px 24px;
    }

    .swiper-slide__content {
        width: 224px;
    }
}


@media screen and (max-width: 760px) {
    .swiper-brands {
        display: block;
    }

    .swiper__show-more-button {
        display: none;
    }

    .swiper-slide__content {
        width: 240px;
    }

    .swiper-brands::before {
        content: "";
        position: absolute;
        height: 72px;
        width: 30px;
        background-image: linear-gradient(to right, #f8f8f8, #F8F8F800);
        left: 0;
        top: 0;
        z-index: 2;
    }

    .swiper-brands::after {
        content: "";
        position: absolute;
        height: 72px;
        width: 30px;
        background-image: linear-gradient(to left, #f8f8f8, #F8F8F800);
        right: 0;
        top: 0;
        z-index: 2;
    }

    .swiper-container {
        padding: 0 16px;
    }

    .swiper-wrapper {
        justify-content: start;
        flex-wrap: nowrap;
        gap: 0;
    }

    .swiper-brands {
        width: auto;
    }
}