@font-face {
    font-family: "TTLakes";
    src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "TTLakes";
    src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TTLakes";
    src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* TTLakes */

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: "TTLakes", sans-serif;
}

button{
    font-family: "TTLakes", sans-serif;
    border: none;
    background-color: #FFFFFF00;
    text-decoration: none;
    padding: 0;
}

.sidebar {
    background-color: #FFFFFF;
    width: 320px;
    height: 100vh;
    box-shadow: -15px 0px 30px 30px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    
}

.sidebar-container{
    box-sizing: border-box;
    padding: 16px 24px 32px 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
}
.sidebar-header__button--close {
    margin-right: 15px;
}

.sidebar-header__button--search {
    margin-left: auto;
}

.sidebar-services {
    display: flex;
    flex-direction: column;
}

.sidebar-services__service {
    font-weight: normal;
    margin-bottom: 32px;
    font-size: 16px;
}

.sidebar-services__service:last-child{
    margin-bottom: 6px;
}

.sidebar-services__service--active{
    color: #7E7E82;
}


.sidebar-services__service--active::before{
    content: "";
    background-color: #41F6D6;
    width: 8px;
    height: 22px;
    transform: scale(1, 1.5);
    position: absolute;
    left: -4px;
    border-radius: 4px;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.sidebar-footer__buttons {
    margin-bottom: 16px;
}
.footer-buttons {
    display: flex;
}
.footer-buttons__button {
    margin-right: 16px;
}

.footer-buttons__button:last-child{
    margin-right: 0;
}

.sidebar-footer__email {
    margin-bottom: 12px;
}
.sidebar-footer__phone {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.footer-languages {
    display: flex;
}

.footer-languages__language {
    font-size: 18px;
    margin-right: 7px;
}

.footer-languages__language:last-child{
    margin-left: 0;
}
.footer-languages__language--active{
    color: #7E7E82;
}

.text-button{
    text-align: start;
}

.button{
    width: 40px;
    height: 40px;
}

.button:focus {
    border-radius: 50%;
    outline: 2px solid #431724;
}

.button:active {
    transform: scale(0.9);
}

.button svg:hover {
    cursor: pointer;
}

.button svg:hover rect {
    fill: #a83b5b;
}