body{
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

.container {
    
}

.header {
    display: none;
    width: auto;
    align-items: center;
    background-color: #FFFFFF;
}

.header__left {
    padding: 16px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__logo{
    width: 100px;
    height: 50px;
}

button:focus{
    border-radius: 50%;
    outline: 2px solid #818181;
}

.button img{
    width: 40px;
    height: 40px;
}

.button{
    height: 40px;
    padding: 0;
    border: none;
    background-color: #FFFFFF00;
    text-decoration: none;
    margin: auto 0;
}

.button svg:hover{
    cursor: pointer;
}

.button svg:hover rect{
    fill: #a83b5b;
}

.header__burger {
    align-self: flex-end;
}

.header__right {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 16px 0;
}
.header__call {
}
.header__chat {
}
.header__profile {
}
.header__repair {
}
.header__check-status {
}

@media screen and (max-width: 1120px) {

}

@media screen and (max-width: 980px) {
    .header{
        display: flex;
        justify-content: space-between;
    }
    
    .header__left {
        width: 232px;
    }

    .header__right {
        width: 320px;
        align-items: center;
    }

    .header__right::after{
        content: '';
        background-color: #EAEAEA;
        width: 2px;
        border-radius: 1px;
        height: 32px;
        position: fixed;
        right: 128px;
    }

    .header__left::after{
        content: '';
        background-color: #EAEAEA;
        width: 2px;
        border-radius: 1px;
        height: 32px; 
        position: fixed;
        left: 88px;
    }
}

@media screen and (max-width: 550px) {
    .header{
        display: flex;
        justify-content: space-between;
    }
    .header__left{
        width: 175px;
        padding-left: 8px;
    }

    .header__left::after{
        content: '';
        position: relative;
        background-color: #EAEAEA;
        width: 2px;
        border-radius: 1px;
        height: 32px; 
        left: 0px;
    }

    .header__right::after{
        content: '';
        display: none;
    }

    .header__right{
        display: flex;
        width: 132px;
        margin: 0 auto;
        align-items: center;
    }

    .header__call, .header__chat, .header__profile{
        display: none;
    }
}
